/* body{
    text-align: center;
} */
#list{
    color:gray;
    font-family: sans-serif;
    margin-top: 10px;
    text-align: center;
}
#contacts{
    width:33%;
    margin:8px auto;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px lightgray;
    
}
#info tr{
    background-color: blue;
}
#innerdiv{
    margin-bottom: 1px;
    padding: 4px;
    background-color: blue;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    float: right;

}
.deletebtn{
    background-color: red;
    display: flex;
    color: white;
    margin-bottom: 1px;
    height: 31px;
    width: 8%;
}
.deletebtn a{
    padding-top: 3px;
}
.deletebtn a i{
    color: white;
    font-size: 25px;
    padding-left: 5px;
}
#innerdiv span{
    color:white;
    font-size:20px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: capitalize;
    font-family: sans-serif;
}

#innerdiv:hover{
    background-color: teal;
}
#btn{
    padding:5px;
    background-color: yellowgreen;
    margin:5px;
}
#form{
    text-align: center;
}
/* #number{
   float: right;
   margin-right: 5px;
}
#name{
    margin-left: 5px;
} */